p {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}

.section {
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
}

.miku { background: #39C5BB; }
.rin { background: #FFD93D; }
.luka { background: #f25eb9; }
.kaito { background: #3A86FF; }
.meiko { background: #e34754; }

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}


.info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.img-container {
    width: 350px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.info p {
    text-align: left;
    font-size: 18px;
}


nav{
    height: 70px;
}

.navbar-brand{
    font-size: 40px;
    font-weight: 100;
}

.dropdown-menu {
    background-color: #1e1e1e;
}

.dropdown-item {
    color: white;
}

.dropdown-divider {
    border-color: #ffffff;
}


.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
}
    
.div7 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    
}

.div7 img {
    height: 100%;
    width: 100%;
    object-fit:contain;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.div8 img {
    height: 100%;
    width: 100%;
    object-fit:contain;
}

.div9 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.div9 img {
    height: 100%;
    width: 100%;
    object-fit:contain;
}

.div10 {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
    justify-content: center;
    align-items: center;
}

.div10 h1{
    text-align: center;
}

.div10 p{
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

.div11 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    justify-content: center;
    align-items: center;
}

.div11 h1{
    text-align: center;
}

.div11 p{
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

.div12 {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 3;
    justify-content: center;
    align-items: center;
}

.div12 h1{
    text-align: center;
}

.div1 p{
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

@media (max-width: 768px) {

    .info {
        flex-direction: column;
        text-align: center;
    }

    .img-container {
        width: 90%;
        height: 250px;
    }

    .info p {
        text-align: center;
        font-size: 16px;
    }

    .section h2 {
        font-size: 28px;
    }
}

@media (max-width: 768px) {

    .div7, .div8, .div9 {
        height: auto;
    }

    .div7 img, .div8 img, .div9 img {
        width: 90%;
        height: auto;
    }

    .div10, .div11, .div12 {
        text-align: center;
        padding: 10px;
    }

}
